 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marine Animals </title>
    <link type="text/css" rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/animals">Animals</a>

    <form method="POST" action="/search">
    <input type="text" name="search" id="search">
    <input type="submit" value="Search">
    </form> 
</nav>
<main>
     <table>
                <thead>
                    <tr>
                        <th>Animal Name</th>
                        <th>Scientific name</th>

                    </tr>
                </thead>
                <tbody>
                    {% for animal in animals %}
                    <tr>
                        <td>{{ animal[0] }}</td>
                        <td>{{ animal[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                

    </table>
            <footer>
                <p>by me</p>
            </footer>
</main>
</body>
</html>