<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML and CSS Tags</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<nav>
    <a href="/index.html">Main</a>
    <a href="/">Animals</a>

    <form method="POST" action="/search">
    <input type="text" name="search" id="search">
    <input type="submit" value="Search">
    </form> 
</nav>
<body>
    <table>
                <thead>
                    <tr>
                        <th>Animal Name</th>
                        <th>Scientific name</th>
                        <th>images</th>

                    </tr>
                </thead>
                <tbody>
                    {% for tag in tags %}
                    <tr>
                        <td>{{ tag[0] }}</td>
                        <td>{{ tag[1] }}</td>
                        <td>{{ tag[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                

            </table>
            <footer>
                <p>by me</p>
            </footer>
</body>
</html>