
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marine Animals </title>
    <link type="text/css" rel="stylesheet" href="/static/css/styles.css">
</head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/main/fish">Fish</a>
            <a href="/main/Invertebrates">Invertebrates</a>
            <a href="/main/Mammals">Mammals</a>
            <a href="/main/Birds">Birds</a>
            <a href="/main/Reptiles">Reptiles</a>
            <a href="/main/Amphibians">Amphibians</a>

            <form method="POST" action="/search">
                <input type="text" name="search" id="search">
                <input type="submit" value="Search">
            </form> 
        </nav>
        <main>
            {% block main %}  {% endblock %}
        </main>
    </body>
</html>