<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="UTF-8">
                <title>Marine Animals </title>
                    <link type="text/css" rel="stylesheet" href="/static/css/styles.css">
                    <link rel="preconnect" href="https://fonts.googleapis.com">
                    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    </head>
        <body>
            <nav>
                                   
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    {% for classes in classifications %}
                    <li>
                        <h2><a href="/main/{{classes}}">{{classes}}</a></h2>
                    </li>
                    {% endfor %}
                </ul>
                <!--the search function-->
                <form method="POST" action="/search">
                <input type="text" name="search" id="search">
                <input type="submit" value="Search">
                </form>  
                </nav>
                <main>
                {% block main %}  {% endblock %}
                </main>
                </body>
                <footer>
            </footer >
                </html>