{% extends "base.html" %}

{% block main %}
     <table>
                <thead>
                    <tr>
                        <th>Animal Name</th>
                        <th>Scientific name</th>
                        <th>Image</th>

                    </tr>
                </thead>
                <tbody>
                    {% for animal in animals %}
                    <tr>
                        <td>{{ animal[0] }}</td>
                        <td>{{ animal[1] }}</td>
                        <td>{{ animal[2] }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
    </table>
            <footer>
                <p>by me</p>
            </footer>
{% endblock %}