{% extends "base.html" %}

{% block main %}
    <h2>{{ title }}</h2>
    <p>{{ sort }}</p>
     <table>
                <thead>
                    <tr>
                        <th><a href="/sort/{{title}}?sort=animal_name&order={{ order }}">Animal Name</a></th>
                        <th><a href="/sort/{{title}}?sort=science_name&order={{ order }}">Scientific name </a></th>
                        <th>images</th>


                    </tr>
                </thead>
                <tbody>
                    {% for animal in animals %}
                    <tr>
                        <td>{{ animal[0] }}</td>
                        <td>{{ animal[1] }}</td>
                        <td>{{ animal[2] }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
    </table>
            <footer>
                <p>by me</p>
            </footer>
{% endblock %}