<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marine Animals </title>
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
</head>
<nav>
    <a href="/">Main</a>
    <a href="/animals">Animals</a>

    <form method="POST" action="/search">
    <input type="text" name="search" id="search">
    <input type="submit" value="Search">
    </form> 
</nav>
<body>
    <nav>
        <a href=".html"></a>    
    </nav>
    <main>
        <h1>Marine Animals</h1>
        <p>this is my project all about marine animals</p>
    </main>
</body>
</>
