{% extends "base.html" %}

{% block main %}
        <!--Title of the page-->
        <h1>Marine Animals</h1>

        <!--A brief description of the website-->
        <p>This is my project, it is about marine animals</p>
        <p>You will be able to explore a wide range of facts</p>
        <p>the infomation you will find is displayed as:</p>
        <ul>
            <li>Animal Name</li>
            <li>Scientific Name</li>
            <li>Life Span</li>
            <li>Average Length</li>
            <li>Top Speed</li>
            <li>Mobility</li>
        </ul>
        <p>you can find more about these animals by going to the visiting the different pages.
                The animals are orginised on the pages by their classification</p>
        <p>you are also able to use the searching and sorting features to quickly find the infomation you are looking for</p>
{% endblock %}
